body {
    background-color: #18122B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: #362F63;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}
.btn-resend {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
.btn-resend:hover {
    background-color: #45A049;
}
.icon-email {
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 15px;
}